<div ng-controller="leftbarCtrl">


    
    

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <form name="changePassForm" ng-submit="changePassword()">
                    <div class="box-body">
                        <div class="col-xs-12">
                            <div class="form-group" show-errors>
                                <label for="OldPassword" ng-class="{ 'has-error': changePassForm.OldPassword.$invalid }">Old Password</label>

                                <input type="password" class="form-control" name="OldPassword" ng-model="item.OldPassword" id="OldPassword" required>
                            </div>
                            <div class="form-group" show-errors>
                                <label for="NewPassword" ng-class="{ 'has-error': changePassForm.NewPassword.$invalid }">New Password</label>

                                <input type="password" class="form-control" name="NewPassword" ng-model="item.NewPassword" id="NewPassword" required>

                            </div>
                            <div class="form-group" show-errors>
                                <label for="ConfirmPassword" ng-class="{ 'has-error': changePassForm.ConfirmPassword.$invalid }">Confirm Password</label>

                                <input type="password" class="form-control" name="ConfirmPassword" ng-model="item.ConfirmPassword" id="ConfirmPassword" required>

                            </div>

                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" style="margin-left: 394px;">Submit</button>
                        &nbsp;
                        <!--<button type="button" class="btn btn-warning" ng-click="backFunction()">Back</button>-->
                        <br>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<style>
    textarea {
        width: 100%;
        height: 118px;
    }
</style>