
<div ng-controller="headerCtrl">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="notify-bx">
                    <i class="glyphicon glyphicon-bell"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="msg-bx">
                    <i class="glyphicon glyphicon-envelope"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="doc-bx">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="client-bx">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
            </div>
        </div>




    </div>
    <div data-ng-include="'app/views/staff/partials/recentPatientList.html'"></div>
</div>





<script>
    (function ($) {
        $(window).load(function () {

            $("#content-3").mCustomScrollbar({
                scrollButtons: { enable: true },
                theme: "light-thick",
                scrollbarPosition: "outside"
            });

            $("#content-4").mCustomScrollbar({
                theme: "rounded-dots",
                scrollInertia: 400
            });

            $("#content-5").mCustomScrollbar({
                axis: "x",
                theme: "dark-thin",
                autoExpandScrollbar: true,
                advanced: { autoExpandHorizontalScroll: true }
            });

            $("#content-6").mCustomScrollbar({
                axis: "x",
                theme: "light-3",
                advanced: { autoExpandHorizontalScroll: true }
            });

            $("#content-7").mCustomScrollbar({
                scrollButtons: { enable: true },
                theme: "3d-thick"
            });

            $("#content-8").mCustomScrollbar({
                axis: "yx",
                scrollButtons: { enable: true },
                theme: "3d",
                scrollbarPosition: "outside"
            });

            $("#content-9").mCustomScrollbar({
                scrollButtons: { enable: true, scrollType: "stepped" },
                keyboard: { scrollType: "stepped" },
                mouseWheel: { scrollAmount: 188 },
                theme: "rounded-dark",
                autoExpandScrollbar: true,
                snapAmount: 188,
                snapOffset: 65
            });

        });
    })(jQuery);
</script>