<!DOCTYPE html>
<html lang="en" data-ng-app="statmedclinic">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--<meta name="description" content="{{app.description}}">-->
    <meta name="description" content="statmedclinic">
    <meta name="keywords" content="{{app.keywords}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title>{{appTitle}}</title>
    <link href="app/assets/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="app/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="app/assets/admin/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bower_components/ngToast/ngToast.min.css">
    <link href="app/assets/css/loader.css" rel="stylesheet" type="text/css" />
   
    

    <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>-->
   <script src="app/assets/js/jquery-ui.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
   <script src="app/assets/js/sql.js"></script>
   
</head>

<body ng-controller="RootScopeCtrl" class="hold-transition skin-blue sidebar-mini">
    <toast></toast>
    <div id="default_loader" class="loading" style="display:none;">Loading&#8230;</div>
    
    <div ui-view id="app">
    
    </div>




    <script src="bower_components/angular-datatables/jquery.dataTables.min.js"></script>
    <script src="bower_components/angular-datatables/dataTables.bootstrap.js"></script>
    <script src="bower_components/angular-datatables/angular-datatables.js"></script>
    <link href="bower_components/angular-datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css">

    <script src="app/assets/js/angular-cookies.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-base64/angular-base64.min.js"></script>
    <script src="bower_components/ngToast/ngToast.min.js"></script>

    <script type="text/javascript" src="app/assets/js/lodash.min.js"></script>
    <script type="text/javascript"
            src="app/assets/js/angularjs-dropdown-multiselect.js"></script>

    <script src="bower_components/angularstorage/ngStorage.min.js"></script>
    <script src="bower_components/angulartranslate/angular-translate.min.js"></script>
    <script src="bower_components/angulartranslate/angular-translate-loader-url.min.js"></script>
    <script src="bower_components/angulartranslate/angular-translate-loader-static-files.min.js"></script>
    <script src="bower_components/angulartranslate/angular-translate-storage-local.min.js"></script>
    <script src="bower_components/angulartranslate/angular-translate-storage-cookie.min.js"></script>
    <script src="app/auth-front-module.js"></script>
    <script src="bower_components/oclazyload/ocLazyLoad.min.js"></script>
    <!--<script src="bower_components/loadingbar/loading-bar.min.js"></script>-->
    <script src="bower_components/moment/moment.js"></script>
   
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
    <script src="bower_components/angular-bootstrap-show-errors/src/showErrors.min.js"></script>
    <script src="node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
    <link href="node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <script src="app/vendor/ngFacebook/ngFacebook.js"></script>
    <script src="app/assets/js/angular-file-upload.js"></script>
    <script src="app/app.js"></script>
    <script src="app/config.constant.js"></script>
    <script src="app/Controllers/RootScopeCtrl.js"></script>
    <script src="app/Controllers/headerCtrl.js"></script>
    <script src="app/Controllers/mobileMenuCtrl.js"></script>
  
    <!--<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>-->
    <div class="screen-size"></div>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
   
    <link rel="stylesheet" href="app/assets/admin/css/ngDialog.min.css">
    <link rel="stylesheet" href="app/assets/admin/css/ngDialog-theme-default.min.css">
    <script src="//cdn.sinch.com/latest/sinch.min.js"></script>
    <script src="app/assets/admin/js/ngDialog.min.js"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <script type="text/ng-template" id="templateId">
        <h1>New Request From Patient</h1>
        <p>{{dataDynamic}}</p>
        <p><img ng-src="{{imgSrc}}" /></p>
        <br />
        <br />
        <div style="background:#faf5f5; padding:10px;">
            <button class="btn btn-success" type="button" ng-click="requestAccepted()">Accept</button>
            <button class="btn btn-danger" type="button" ng-click="ngDialog.close()">Reject</button>
        </div>
    </script>
</body>

</html>
