<div ng-controller="appointmentCtrl">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">

            <h1>
                Doctor
            </h1>

            <div ncy-breadcrumb></div>
        </section>


        <section class="content">
            <div class="row">
                <div class="box box-primary">
                    <div class="box-header with-border">

                    </div>

                    <form name="userForm">
                        <div class="box-body">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label ng-class="{ 'has-error': userForm.DoctorID.$invalid }">Select Doctor:</label>
                                    <select name="singleSelect" ng-model="item.DoctorID" required class="form-control">
                                        <option ng-repeat="doc in doctorList" value="{{doc.UserID}}">{{doc.UserName}}</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label ng-class="{ 'has-error': userForm.PatientID.$invalid }">Select Patient:</label>
                                    <select name="singleSelect" ng-model="item.PatientID" required class="form-control">
                                        <option ng-repeat="patient in patientList" value="{{patient.UserID}}">{{patient.UserName}}</option>

                                    </select>
                                </div>


                                <div class="form-group">
                                    <label ng-class="{ 'has-error': userForm.data.date.$invalid }">Select Appointment Date:</label>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-model="item.AppointmentDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="data.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2'  }" data-ng-change="changeformat()" />
                                        </ul>
                                    </div>
                                    <div class="form-group">
                                        <label>Selected Date:</label>

                                        <div><p>{{ item.AppointmentDate| date:'yyyy-MM-dd HH:mm' }} </p></div>

                                    </div>
                                    <div class="form-group" show-errors>
                                        <label for="scheduledApptmntTime" ng-class="{ 'has-error': userForm.ScheduledApptmntTime.$invalid }"> Expected Scheduled Time (in hours)</label>
                                        <input type="number" class="form-control" name="ScheduledApptmntTime" ng-model="item.ScheduledApptmntTime" id="scheduledApptmntTime" placeholder="Enter Expected Scheduled Time" required min="0" step="0.1">
                                    </div>
                                </div>

                                <!--<div class="form-group">
                    <div class='input-group date' timepicker ng-model="date1">
                        <input type='text' class="form-control" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <div>{{date1 | date:'yyyy-MM-dd HH:mm'}}</div>
                </div>

                <div class="form-group">
                    <div class='input-group date' timepicker ng-model="date2">
                        <input type='text' class="form-control" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <div>{{date2 | date:'yyyy-MM-dd HH:mm'}}</div>
                </div>-->

                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" ng-click="save()" style="margin-left:12px;margin-top: 40px;">Submit</button>
                        <button type="button" class="btn btn-warning" ng-click="backFunction()" style="margin-left:15px;margin-top: 40px;">Back</button>

                        <br>
                        <br>

                    </form>
                </div>
            </div>
        </section>
        <div style="clear:both;"></div>
    </div>

    



</div>

