<div style="position:relative;" class="col-md-2">
    <div style="position:fixed;">
        <div class="sidebar content-box" style="display: block;">
            <ul class="nav">
                <!-- Main menu -->
                <li  ui-sref-active="active"><a ui-sref="staff.index"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li ui-sref-active="active"><a ui-sref="staff.chat"><i class="glyphicon glyphicon-list"></i> Chat List</a></li>
                <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-bell"></i> Notifications</a></li>
                <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-envelope"></i> Message</a></li>
                <li ui-sref-active="active"><a ui-sref="staff.doctorList"><i class="glyphicon glyphicon-list-alt"></i> Doctor List</a></li>
                <li ui-sref-active="active"><a ui-sref="staff.clientList"><i class="glyphicon glyphicon-user"></i> Client List</a></li>
                <li ui-sref-active="active"><a ui-sref="staff.appointMentList"><i class="glyphicon glyphicon-tasks"></i> Appointment</a></li>
            </ul>
        </div>
    </div>
</div>